@import "colors";
@import "fonts";
@import "buttons";
@import "twentytwenty";
@import "typography";

/*
============================================================================================================================================

QUICK REFERENCE

Colors:
// Shades of Green
$emerland: 			#2ECC71;
$nephritis: 		#27AE60;
$turquoise: 		#1ABC9C;
$green-sea: 		#16A085;

// Shades of Blue
$peter-river: 		#3498DB;
$belize-hole: 		#2980B9;

// Shades of Purple
$amethyst: 			#9859b6;
$wisteria: 			#8E44AD;

// Shades of Gray
$clouds: 			#ECF0F1;
$dark-clouds:		darken($clouds, 3%);
$silver:			#BDC3C7;
$concrete:			#95A5A6;
$asbestos:			#7F8C8D;
$wet-asphalt: 		#34495E;
$midnight-blue: 	#2C3E50;
$black-top: 		darken($midnight-blue, 12%);

// Shades of Yellow/Orange
$sun-flower:		#F1C40F;
$orange:			#F39C12;
$carrot:			#E67E22;
$pumpkin:			#D35400;

// Shades of Red
$alizarin:			#E74C3C;
$pomegranate: 		#C0392B;

============================================================================================================================================
ADD YOUR STYLES BELOW THIS LINE
============================================================================================================================================
*/

